.menubar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #22222202; /* Cor de fundo da barra */
    color: white;
    padding: 0 20px;
    z-index: 10; /* Sempre visível acima de outros elementos */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .menu-left, .menu-right {
    display: flex;
    align-items: center;
  }
  
  .flag-button, .music-button {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    transition: transform 0.3s ease; /* Suavidade do efeito */
  }
  
  .flag-button:hover, .music-button:hover {
    transform: scale(1.2); 
  }
  
  .flag-icon {
    width: 50px; 
    height: auto;
  }

  .music-icon{
    width: 50px; 
    height: auto;
    filter: invert(65%) sepia(80%) saturate(200%) hue-rotate(150deg);
  }
  
  .flag-button:hover .flag-icon,
  .music-button:hover .music-icon {
    opacity: 0.8; 
  }
  
  button {
    margin-left: 10px;
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    text-decoration: underline; 
  }

  .menu-right button {
    color: white;
    background: none;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .menu-right button.active {
    color: #00BFFF; /* Azul claro */
    font-weight: bold;
  }

  /* Esconde o menu horizontal no mobile */
.desktop-menu {
  display: flex;
}

.mobile-menu-button {
  display: none;
}

.mobile-dropdown {
  display: none;
}

/* Mobile rules */
@media (max-width: 768px) {
  .desktop-menu {
    display: none;
  }

  .mobile-menu-button {
    display: flex;
    align-items: center;
  }

  .mobile-dropdown {
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 10px 20px;
    border-radius: 10px;
    flex-direction: column;
    display: flex;
    z-index: 20;
  }

  .mobile-dropdown button {
    color: white;
    background: none;
    border: none;
    padding: 10px 0;
    font-size: 16px;
    cursor: pointer;
  }

  .mobile-dropdown button.active {
    color: #00BFFF;
    font-weight: bold;
  }
}