/* Animações */
@keyframes fadeInLeft {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      transform: translateX(100px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .hidden {
    opacity: 0;
  }
  
  .fade-in-left {
    animation: fadeInLeft 0.8s ease-out forwards;
  }
  
  .fade-in-right {
    animation: fadeInRight 0.8s ease-out forwards;
  }

  .begin-container{
    position: relative;
    z-index: 1;
  }